
// COLOR
.color_accent_1 {
    color: $color_accent_1;
}

.color_accent_2 {
    color: $color_accent_2;
}

.color_accent_3 {
    color: $color_accent_3;
}

.color_accent_4 {
    color: $color_accent_4;
}

.color_accent_5 {
    color: $color_accent_5;
}

.color_accent_6 {
    color: $color_accent_6;
}


// BORDER COLOR
.border_accent_1 {
    border-color: $color_accent_1;
}
.border_accent_2 {
    border-color: $color_accent_2;
}
.border_accent_3 {
    border-color: $color_accent_3;
}
.border_accent_4 {
    border-color: $color_accent_4;
}
.border_accent_5 {
    border-color: $color_accent_5;
}
.border_accent_6 {
    border-color: $color_accent_6;
}