// Menu

.header {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: $padding_half $padding_default;
    @include transitionBase();

    @media (max-width: $size_max_mobile) {
        padding: $padding_half;
    }

    a, .menu_link {
        font-weight: 900;
        font-size: 1em;

        @include link_hover('big');
    }

    .wrap {
        display: flex;
    }


    .logo {
        flex-grow: 1;
        font-size: 2.5em;
        letter-spacing: -0.2em;

        a {
            @include transitionBase();

            &:hover {
                @include transitionBase();
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);

                &::before {
                    width: calc(100% + 40px);
                    border-radius: 50px;
                    background-color: $color_accent_2;
                }
            }
        }
    }

    .menu-mobile {
        z-index: 2;

        #menu-bar {
            margin-top: 15px;
            width: 40px;
            cursor: pointer;

            .bar {
                height: 5px;
                margin-bottom: 3px;
                width: 100%;
                background-color: $color_base;
                display: block;
                border-radius: 0px;
                @include transitionBase();
            }

            #bar1 {
                transform: translateY(-4px);
            }

            #bar3 {
                transform: translateY(4px);
            }

            &.open {
                .bar {
                    background-color: $color_accent_1;
                }

                #bar1 {
                    transform: translateY(8px) rotateZ(-45deg);
                }

                #bar2 {
                    opacity: 0;
                }

                #bar3 {
                    transform: translateY(-8px) rotateZ(45deg);
                }
            }
        }
    }

    .menu-mobile-bg {
        top: 0;
        right: 100px;
        overflow: hidden;
        position: fixed;
        z-index: 1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background: radial-gradient(circle, $color_accent_2, $color_accent_3);
        border-radius: 50%;
        @include transitionBase();

        &.open {
            width: 520px;
            height: 460px;
            transform: translate(+60%, -30%);
        }
    }

    .menu {
        z-index: 2;
        position: absolute;
        right: 50px;
        top: 80px;
        text-align: right;
        display: none;
        @include transitionBase();

        &.open {
            display: block;
        }

        .menu-item {
            position: relative;
            padding-top: 20px;
            padding-right: 0;

            a {
                font-size: 1.2em;
                display: block;
                margin-bottom: 15px;
            }

        }

    }

}