// Variable files


// FONTS
$font_base: 'Raleway', sans-serif;
$font_title: 'Raleway', sans-serif;

$font_size_default: 18px;
// $font_size_content: 18px;

// Breakpoint
$size_max_width: 1400px;
$size_max_desktop: 1000px;
$size_max_mobile: 600px;
$size_down_mobile: 360px;

$sidebar_size:350px;

// LAYOUT
$padding_half: 20px;
$padding_default: 40px;
$padding_banner: 200px;
$padding_banner_mobile: 100px;


// COLORS
$color_base: white;
$color_base_opposite: #211847;

$color_grey_light: rgb(194, 194, 194);
$color_grey: rgb(129, 129, 129);

$color_bg_dark: #161618;
$color_bg_content: #222529;

$color_accent_1: #26cfe4;
$color_accent_2: #fcac6f;
$color_accent_3: #f86a88;
$color_accent_4: #fb3e97;
$color_accent_5: #2c8ff9;
$color_accent_6: #4d21d8;
$color_accent_7: #21d855;