

.small {
    font-size: 0.7em;
}

.goal-zone {
    label {
        display: block;
        font-weight: bold;
        font-size: 0.75em;
        padding-bottom: 5px;
    }

    textarea {
        width: 100%;
        font-size: 16px;
        box-sizing: border-box;
    }

    .actions {
        display: flex;

        button {
            width: 50%;
            box-sizing: border-box;
            padding: 10px;
            line-height: 20px;
        }
    }
}



#world_history {
    max-height: 80vh;
    overflow-y: scroll;
    padding: 20px 5px;
    border: 1px solid $color_accent_2;
    margin-bottom: 1em;
}



#world_listing {
    margin-bottom: 1em;
    display:  flex;
}

.person {
    text-align: center;
    max-width: calc(100% /4);
    margin-bottom: 1em;
    box-sizing: border-box;
    padding: 0px 10px;


    .top {
        // display: flex;
        // flex-wrap: wrap;
        .head {
            font-size: 3em;
            line-height: 50px;
        }

        .name {
            font-weight: 800;
            font-size: 1.5em;
            // color: $color_accent_1;
            flex-grow: 1;
            line-height: 20px;
            padding-bottom: 10px;
        }

        .role {
            font-weight: bold;
            text-transform: capitalize;
            line-height: 20px;
        }
    }

    .goals {
        font-size: 0.8em;
    }
}





.history_msg {
    padding: 15px 10px;

    &.error .message {
        color: $color_accent_4;
    }

    .infos {
        display: flex;
        padding-bottom: 5px;

        .name {
            padding-right: 10px;
            font-weight: bold;
        }

        .timestamp {
            font-weight: bold;
            font-size: 0.65em;
            padding: 5px 0 0 0;
        }
    }


    .birth {
        color: $color_accent_3;
        font-weight: 800;
    }
}


.config {
    label {
        padding-top: 20px;
        display: block;
        font-size: 0.8em;
        font-weight: bold;
    }

    input {
        min-width: 95%;
    }

    textarea {
        min-width: 95%;
        height: 70px;
    }

    .infos {
        padding-top: 5px;
        font-size: 0.7em;
    }
}





#world_files {

    .file-list {
        display: flex;

        .file {
            padding-top: 1em;
            cursor: pointer;
            text-align: center;
            margin: 10px;

            .img {
                display: block;
                width: 75px;
                height: 80px;
                background-size: contain;
                background-repeat: no-repeat;
                margin: auto;
            }

            label {
                display: block;
                padding-top: 10px;
                font-weight: bold;
                text-align: center;
            }

            &.csv .img {
                background-image: url('/resources/images/misc/csv_white.png');
            }

            &.txt .img {
                background-image: url('/resources/images/misc/text_white.png');
            }

            &:hover {
                label {
                    color: $color_accent_1;
                }
            }
        }

    }
}



.top_page {
    background-image: url('/resources/images/misc/about.png');
    background-position: center top;
    background-size: cover;
    padding-top: 70px;

    h1 {
        margin-bottom: 10px;
        display: none;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 10px;
        text-shadow: black 3px 2px 1px;
    }
    h3 {
        font-size: 15px;
        margin-bottom: 5px;
    }
}