
.goal-zone {
    display: flex;
    box-sizing: border-box;

    .goal {
        width: 80%;
        padding-right: 10px;

        textarea {
            width: 100%;
            font-size: 16px;
            box-sizing: border-box;
        }
    }

    .config {
        width: 20%;
        text-align: right;
    }
}






#world_listing {
    margin-bottom: 1em;
}

.person {
    max-width: calc(100% /4);
    margin-bottom: 1em;
    box-sizing: border-box;
    padding: 0px 10px;

    .name {
        font-weight: 800;
    }

    .role, .goals {
        font-size: 0.8em;
    }
}





.history_msg {
    &.godmode {
        .name {
            color: $color_accent_1;
        }
    }
    &:not(.godmode) {
        .name {
            color: $color_accent_2;
        }
    }

    .birth {
        color: $color_accent_3;
        font-weight: 800;
    }
}










.top_page {
    background-image: url('/resources/images/misc/about.png');
    background-position: center top;
    background-size: cover;
    padding-top: 70px;

    h1 {
        margin-bottom: 10px;
        display: none;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 10px;
        text-shadow: black 3px 2px;
    }
    h3 {
        font-size: 15px;
        margin-bottom: 5px;
    }
}